<?php
$this->root = $this->baseUrl().'/';
$this->headTitle($this->siteName.' Admin for JOOLIST');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');
$this->headLink()->appendStylesheet($this->root . '/public/css/admin.css');
$this->headLink()->appendStylesheet($this->root . '/public/css/font.css');
$this->headLink()->appendStylesheet($this->root . '/public/css/fileuploader.css');
$this->headScript()->appendFile($this->root . '/public/js/library/jquery.js');
$this->headScript()->appendFile($this->root . '/public/js/library/fileuploader.js');
$this->headScript()->appendFile($this->root . '/public/js/admin.js');

?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->headTitle()?>
	<?php echo $this->headMeta()?>
	<?php echo $this->headLink()?>
	<script type="text/javascript">
		root = '<?php echo $this->root ?>/index.php/';
	</script>
	<base href="<?php echo $this->root; ?>" target="_parent" />
	<?php echo $this->headScript()?>
</head>
<body>
	<div id="main">
		<div class="left-menu"></div>
		<?php echo $this->layout()->content ?>
	</div>
</body>
</html>