<div class="header">
	<div class="content-wrapper">
		<div class="top-menu">
			<ul>
				<li><span style="font-weight: bold; font-style: italic;">Need helf:</span> 01842 821444</li>
				<span>|</span>
				<li><a href="info@easierprint.co.uk">info@easierprint.co.uk</a></li>
			</ul>
		</div>
		<div class="logo">
			<a href="./" >
				<img src="public/images/site/logo.png"/>
			</a>
		</div>
		<div class="title-text">
			<p>
				<span>You can use our</span>
				<span style="font-weight: bold;"> sign design tool</span>
				<span> to give us an idea of your</span>
			</p>
			<p>
				<span>design. We will use this as a base to create your artwork for you.</span>
			</p>
		</div>
	</div>
</div>