<?php
$this->root = $this->baseUrl().'/';
$this->headTitle($this->siteName.' Admin for JOOLIST');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');
$this->headLink()->appendStylesheet($this->root . 'public/css/style.css');
$this->headLink()->appendStylesheet($this->root . 'public/css/font.css');
$this->headScript()->appendFile($this->root . 'public/js/library/jquery.js');
$this->headScript()->appendFile($this->root . 'public/js/app.js');

?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->headTitle()?>
	<?php echo $this->headMeta()?>
	<?php echo $this->headLink()?>
	<script type="text/javascript">
		root = '<?php echo $this->root ?>/index.php/';
	</script>
	<base href="<?php echo $this->root; ?>" target="_parent" />
	<?php echo $this->headScript()?>
</head>
<body>
	<div class="main-menu">
		<div class="top-menu">
			<div class="logo"></div>
			<ul class="menu-nav">
				<a href="./photos"><li>Nhà đẹp</li></a>
				<a href="./idea"><li>Ý tưởng</li></a>
				<a href="#"><li>Chuyên gia</li></a>
			</ul>
		</div>
		<div class="second-menu">
			<ul class="menu-nav small">
				<a href="./photos/room/cat/1"><li>Phòng khách</li></a>
				<a href="./photos/room/cat/2"><li>Phòng ăn</li></a>
				<a href="./photos/room/cat/3"><li>Phòng ngủ</li></a>
				<a href="./photos/room/cat/4"><li>Phòng tắm</li></a>
				<a href="./photos/room/cat/5"><li>Phòng trẻ em</li></a>
				<a href="./photos/room/cat/6"><li>Ngoài trời</li></a>
				<a href="./photos/room/cat/7"><li>Kho chứa</li></a>
				<a href="./photos/room/cat/8"><li>Chiếu sáng</li></a>
				<a href="./photos/room/cat/9"><li>Nội thất</li></a>
				<a href="./photos/room/cat/10"><li>Trang trí</li></a>
			</ul>
		</div>
	</div>
	<div id="main">
		<?php echo $this->layout()->content ?>
	</div>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1460776634133841";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>