body{
	padding: 0px;
	margin: 0px;
	font-family: "Roboto L";
}
.admin-wrapper{
	width: 980px;
	margin: auto;
}
.header{
}
.btn-bar{
	padding-left: 25px;
	margin-bottom: 25px;
}
.btn-bar .button-group{
	float: right;
	padding-right: 20px;
}
.btn-bar .button-group > *{
	display: inline-block;
	vertical-align: top;
	padding: 9px 12px;
	cursor: pointer;
}
.btn-bar .button-group > *:hover{
	color: #4cd37b;
}
.title{
	font-size: 36px;
	font-family: "Roboto T";
	display: inline-block;
	vertical-align: top;
	font-weight: normal;
	color: #3d8901;
}
.left-menu{
	width: 200px;
	float: left;
	height: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	background: #333;
}
.right-content{
	margin-left: 25px;
}
.fulledit{
	width: 100%;
	background: transparent;
	display: block;
	outline: none;
	margin: 5px 0px;
	border: 0px;
	font-family: "Roboto L";
	font-size: 14px;
}
.article-edit-zone{
	width: 950px;
	height: 150px;
	border: 1px solid #CCC;
	margin: 24px 0px;
}
.article-edit-zone.small{
	width: 547px;
	display: inline-block;
	vertical-align: top;
	margin-left: 32px;
	margin-top: 0px;
}
.article-wrapper{
	margin-left: 200px;
}
.titleedit{
	font-size: 32px;
	height: auto;
	padding-left: 0px;
	font-family: "Roboto T";
}
.featured-image > img{
	height: 275px;
}
/* image loader */
.image-loader{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0,0,0,0.5);
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.image-loader .image-container {
	padding: 22px;
	height: 305px;
	overflow: auto;
}
.image-loader .bottom-bar{
	position: absolute;
	bottom: 0px;
	height: 50px;
	text-align: right;
	right: 18px;	
}
.image-loader .image-container > img{
	max-width: 300px;
	max-height: 117px;
	border: 2px solid transparent;
}
.image-loader .image-container > img.active{
	border: 2px solid #4CD37B;
}
.image-loader .image-wrapper{
	width: 820px;
	height: 500px;
	background: white;
	position: relative;
}
.image-loader .title{
	margin: 7px 24px;
}
.image-loader .image-upload-control-bar{
	width: 100%;
	padding-left: 14px;
}
.image-loader .image-upload-control-bar > *{
	display: inline-block;
	font-size: 18px;
	padding: 0px 12px 9px 12px;
	cursor: pointer;
}
.image-loader .image-upload-control-bar > *:hover{
	color: #3d8901;
}
.image-loader .filter > *:hover{
	color: #4cd37b;
}
.login-wrapper{
	width: 100%;
	height: 500px;
	background: url('../images/login-bg.jpg') no-repeat;
	background-size: 100% auto;
	background-position: center center;
	top: 50px;
	position: absolute;
}
.login-wrapper .login-facebook{
	color: #fff;
	padding: 12px;
	font-family: Roboto;
	margin: auto;
	display: block;
	width: 200px;
	top: 50px;
	position: relative;
	text-align: center;
	cursor: pointer;
	background-color: #4a6bb2;
	background-image: -moz-linear-gradient(top,#5d7dc2,#2e5099);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#5d7dc2),to(#2e5099));
	background-image: -webkit-linear-gradient(top,#5d7dc2,#2e5099);
	background-image: -o-linear-gradient(top,#5d7dc2,#2e5099);
	background-image: linear-gradient(to bottom,#5d7dc2,#2e5099);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d7dc2', endColorstr='#ff2e5099', GradientType=0);
	background-color: #4a6bb2;
	background-image: -moz-linear-gradient(top,#5d7dc2,#2e5099);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#5d7dc2),to(#2e5099));
	background-image: -webkit-linear-gradient(top,#5d7dc2,#2e5099);
	background-image: -o-linear-gradient(top,#5d7dc2,#2e5099);
	background-image: linear-gradient(to bottom,#5d7dc2,#2e5099);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d7dc2', endColorstr='#ff2e5099', GradientType=0);
}
.login-wrapper .login-facebook:hover{
	background-color: #2e5099;
	background-color: #405c98;
	background-image: -moz-linear-gradient(top,#516ca8,#264380);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#516ca8),to(#264380));
	background-image: -webkit-linear-gradient(top,#516ca8,#264380);
	background-image: -o-linear-gradient(top,#516ca8,#264380);
	background-image: linear-gradient(to bottom,#516ca8,#264380);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff516ca8', endColorstr='#ff264380', GradientType=0);
	background-color: #405c98;
	background-image: -moz-linear-gradient(top,#516ca8,#264380);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#516ca8),to(#264380));
	background-image: -webkit-linear-gradient(top,#516ca8,#264380);
	background-image: -o-linear-gradient(top,#516ca8,#264380);
	background-image: linear-gradient(to bottom,#516ca8,#264380);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff516ca8', endColorstr='#ff264380', GradientType=0);
}
.main-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1499;
	background: rgba(255,255,255,0.9);
	height: 50px;
}
.logo {
	width: 165px;
	height: 100%;
	background: url('../images/logo.png') center center no-repeat;
	background-size: auto 100%;
	display: inline-block;
}
.wrapper{
	width: 980px;
	margin: auto;
}
.wrapper .half{
	width: 50%;
	vertical-align: top;
	display: inline-block;
	margin-right: -4px;
}
.login-wrapper .login-container{
	display: block;
	width: 320px;
	height: 145px;
	background: rgba(255,255,255,0.5);
	margin: auto;
	margin-top: 75px;
	position: relative;
}
.login-text{
	font-family: 'Roboto M';
	font-size: 32px;
	color: white;
	padding-top: 100px;
	text-align: left;
}
.login-text span{
	background: rgba(0,0,0,0.5);
	display: inline-block;
	margin: 2px;
	padding: 2px 12px;
}
.flat{
	padding: 9px 12px;
}
.green{
	background: green;
	color: white;
	display: inline-block;
	cursor: pointer;
}
.green:active{
	background: #3D8901;
}

/* article */
.article-item{
}
.article-item .article-list-thumb{
	width: 75px;
}
