@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto L';
    src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto T';
    src: url('./fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto M';
    src: url('./fonts/Roboto-Medium.ttf');
}