body{
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444;
}
.topbar{
	width: 100%;
	height: 25px;
	background: #FAFAFA;
}
.logo{
	width: 165px;
	height: 100%;
	background: url('../images/logo.png') center center no-repeat;
	background-size: auto 100%;
	display: inline-block;
}
.wrapper{
	width: 1200px;
	margin: auto;
	overflow: auto;
}
.content-wrapper{
	width: 980px;
	margin: 0px 10px;
}
.main-menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20;
	background: rgba(255,255,255,0.9);
	height: 50px;
	/*
	-webkit-transition: 500ms ease-out;
	-moz-transition: 500ms ease-out;
	-o-transition: 500ms ease-out;
	-ms-transition: 500ms ease-out;
	transition: 500ms ease-out;
	*/
}
.main-menu .top-menu{
	height: 100%;
	border-bottom: 1px solid #ccc;
	background: rgba(255,255,255,1);
	z-index: 10;
	position: relative;
}
.main-menu .second-menu{
	height: 27px;
	background: rgba(240,240,240,0.9);
	text-align: center;
	z-index: 1;
	position: absolute;
	width: 100%;
}
/*
.main-menu.hide{
	-webkit-transform: translateY(-70px);
	-moz-transform: translateY(-70px);
	-o-transform: translateY(-70px);
	-ms-transform: translateY(-70px);
	transform: translateY(-70px);
}
*/
.main-menu .menu-nav{
	list-style: none;
	padding: 0px;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
	height: 100%;
}
.main-menu .menu-nav.small{
}
.main-menu .menu-nav a{
	text-decoration: none;
	height: 100%;
	display: inline-block;
	color: #555;
}
.main-menu .menu-nav a:hover{
	color: #111;
}
.main-menu .menu-nav li{
	display: inline-block;
	height: 100%;
	font-size: 18px;
	line-height: 50px;
	padding: 0px 12px;
}
.main-menu .menu-nav.small li{
	font-size: 13px;
	line-height: 27px;
}
.main-menu .menu-nav li:hover{
	/* background: #26BFCA; */
	background: #EEE;
}
.image-list{
	padding-top: 20px;
}
.image-list .image-wrapper{
	width: 228px;
	display: inline-block;
	margin: 6px;
	position: relative;
	border: 1px solid #d6d6d6;
}
.image-list .image-wrapper .share-bar{
	display: none;
}
/* s size */
.image-list.views .image-wrapper{
	width: 228px;
}
.image-list.views .image-wrapper .logo{
	display: none;
}
.image-list.views .image-container{
	width: 228px;
}
.image-list.views .image-wrapper .big-meta{
	display: none;
}
/* m size */
.image-list.viewm .image-wrapper{
	width: 310px;
}
.image-list.viewm .image-container{
	height: 310px;
}
.image-list.viewm .image-wrapper .meta-tag .meta-infomation{
	width: 255px;
}
.image-list.viewm .image-wrapper .big-meta{
	display: none;
}
/* l size */
.image-list.viewl .image-wrapper{
	width: 474px;
}
.image-list.viewl .image-container{
	height: 474px;
}
.image-list.viewl .image-wrapper .meta-tag .meta-infomation{
	width: 410px;
}
.image-list.viewl .image-wrapper .big-meta{
	display: none;
}
/* xl size */
.image-list.viewxl .image-wrapper{
	width: 970px;
	margin-bottom: 12px;
}
.image-list.viewxl .image-wrapper .image-container{
	width: 50%;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.image-list.viewxl .image-wrapper .meta-tag{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
.image-list.viewxl .image-wrapper .meta-wrapper{
	padding-left: 20px;
	border-bottom: 1px solid #EEE;
}
.image-list.viewxl .image-wrapper .big-meta{
	display: block;
	padding-left: 20px;
}
.image-list.viewxl .image-wrapper .big-meta .comments{
	text-decoration: none;
	color: #777;
	display: block;
}
.image-list.viewxl .image-wrapper .big-meta .description{
	margin-top: 7px;
	display: block;
	font-family: "Roboto";
	color: #555;
}
.image-list.viewxl .image-wrapper .title{
	display: none;
}
.image-list.viewxl .image-wrapper .title.titlexl{
	display: block;
	font-family: 'Roboto';
	font-size: 24px;
	padding: 9px 0px;
}
.image-list.viewxl .image-wrapper .designer{
	padding-top: 17px;
	font-size: 14px;
}
.image-list.viewxl .image-wrapper .designer:hover{
	color: #3d8901;
}
.image-list.viewxl .image-wrapper .share-bar{
	display: block;
	bottom: 0px;
	position: absolute;
	height: 29px;
	margin-left: 4px;
	border-right: 1px solid #EEE;
	border-top: 1px solid #EEE;
	width: 485px;
}
.share-btn{
	width: 36px;
	height: 100%;
	display: inline-block;
	border-right: 1px solid #EEE;
	cursor: pointer;
	white-space: nowrap;
	margin-right: -4px;
	vertical-align: top;
}
.share-btn:last-child{
	border-right: 0px;
}
.share-btn > span{
	vertical-align: top;
	padding-top: 5px;
	display: inline-block;
}
.share-btn .item{
	background: url('../images/lightbutton.png');
	height: 20px;
	width: 20px;
	margin-top: 5px;
}
.share-btn:hover .item{
	background-position-y: 30px !important;
}
.share-btn .item.fb{
	background-position: 250px 50px;
	margin: 5px auto;
}
.share-btn .item.tw{
	background-position: 230px 50px;
	margin: 5px auto;	
}
.share-btn .item.gplus{
	background-position: 210px 50px;
	margin: 5px auto;
}
.share-btn .item.link{
	background-position: 129px 50px;
	margin: 5px auto;
}
.share-btn .item.embed{
	background-position: 290px 50px;
	display: inline-block;
	margin-left: 7px;
}
.share-btn .item.email{
	background-position: 110px 50px;
	display: inline-block;
	margin-left: 7px;
}
.share-btn .item.question{
	background-position: 270px 50px;
	display: inline-block;
	margin-left: 7px;
}
.share-btn .item.comment{
	background-position: 270px 50px;
	display: inline-block;
	margin-left: 7px;
}





.image-list .image-container{
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 228px;
	cursor: -webkit-zoom-in; 
	cursor: -moz-zoom-in;
}
.image-list .image-wrapper .meta-tag{
	bottom: 0px;
	width: 100%;
	color: #333333;
	font-family: "Roboto L";
}
.image-list .image-wrapper .meta-tag .meta-infomation{
	display: inline-block;
	width: 170px;
	vertical-align: top;
}
.image-list .image-wrapper .meta-tag .logo{
	margin: 5px;
	width: 40px;
	height: 40px;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.image-list .image-wrapper .meta-tag .title{
	font-weight: normal;
	font-size: 18px;
	padding-left: 5px;
	margin: 5px 5px 0px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.image-list .image-wrapper .meta-tag:hover .title{
	color: #3d8901;
}
.image-list .image-wrapper .meta-tag h4{
	font-weight: normal;
	font-family: 'Roboto';
	margin: 0px 0px 5px 3px;
	cursor: pointer;
}
.image-list .image-wrapper .big-meta{
	display: none;
}



.admin-header{
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgb(64, 186, 224);
	width: 100%;
	height: 45px;
}
.admin-header .name{
	display: inline-block;
	color: white;
	margin: 9px;
}
.admin-header .menu-wrapper{
	display: inline-block;
	list-style: none;
	float: right;
}
.admin-header .menu-wrapper li{
	display: inline-block;
}
.admin-header .menu-wrapper a {
	color: white;
	padding: 0px 12px;
	text-decoration: none;
}
#main{
	margin-top: 75px;
}
.content{
	width: 1000px;
	margin: auto;
	margin-top: 100px;
}
.content .list-wrapper{
	width: 400px;
	height: 600px;
	overflow: auto;
	display: inline-block;
	vertical-align: top;
}
.content .list-wrapper .project-wrapper{
	color: #555;
	padding: 9px 12px;
	width: 170px;
	display: inline-block;
	cursor: pointer;
}
.content .list-wrapper .project-wrapper:hover{
	background: #F7FCFF;
}
.content .detail-wrapper{
	width: 550px;
	display: inline-block;
	vertical-align: top;
	float: right;
}
.content .detail-wrapper input{
	width: 300px;
	border: 1px solid #DDD;
	outline: none;
	height: 30px;
	padding-left: 9px;
	margin: 4px 0px;
	display: block;
}
.content .detail-wrapper textarea{
	display: block;
	width: 305px;
	border: 1px solid #DDD;
	outline: none;
	height: 120px;
}
.content button{
	display: block;
}
.filter > *{
	display: inline-block;
	background: orange;
	padding: 5px 12px;
}
.filter .filter-label{
	background: transparent;
	font-weight: bold;
}

.uploader{
	width: 100px;
	height: 32px;
	background: orange;
}
.project-wrapper input{
	width: 20px;
}
.left-menu{
	width: 200px;
	float: left;
	padding-top: 32px;
}
.block{
	font-size: 13px;
	border: 1px solid #d6d6d6;
	margin-bottom: 10px;
	border-radius: 2px;
	background: #fff;
	padding: 0;
}
.block .block-header{
	color: #1d1d1d;
	display: block;
	padding: 5px 8px;
	border-bottom: 1px solid #f0f0f0;
	background: #f0f0f0;
	border-radius: 1px 1px 0 0;
}
.block .block-content{
	min-height: 50px;
}
.right-content{
	width: 980px;
	float: right;
	padding-top: 32px;
}
.big-title{
	font-family: 'Roboto L';
	font-weight: normal;
	font-size: 34px;
	margin: 0px;
}
.article-title{
	font-family: 'Roboto L';
	font-size: 24px;
	color: #3d8901;
	cursor: pointer;
	font-weight: normal;
}
.article-title.detail{
	padding-top: 17px;
	font-size: 32px;
	margin-bottom: 7px;
}
.sub-title.detail{
	margin-bottom: 12px;
}
.article-title:hover{
	color: #333;
}
.sub-title{
	font-weight: normal;
	font-size: 14px;
	color: #333;
	margin: 0px;
}
.author{
	font-weight: normal;
	font-size: 13px;
	cursor: pointer;
	color: #333;
	font-family: "Roboto M";
}
.author:hover{
	color: #555;
}
.btn{
	width: 20px;
	height: 20px;
	background: url('../images/buttons.png');
	display: inline-block;
}
.btn.comment{
	width: 20px;
	height: 20px;
	background-position: 210px 60px;
	vertical-align: middle;
}
.btn.email{
	width: 20px;
	height: 20px;
	background-position: 150px 60px;
	vertical-align: middle;
}
.btn.bookmark{
	width: 20px;
	height: 20px;
	background-position: 150px 40px;
	vertical-align: middle;
}
.btn.embed{
	width: 20px;
	height: 20px;
	background-position: -40px 60px;
	vertical-align: middle;
}
.sharing-bar{
	height: 38px;
}
.sharing-bar .btn{
	margin: 9px 2px 9px 9px;
}
.sharing-bar span{
	margin-top: 4px;
}
.date-time{
	display: inline-block;
	vertical-align: middle;
}
.short-content{
	margin-top: 7px;
}
.right-content .list-meta-bar{
	overflow: auto;
}
.right-content .side-bar{
	float: right;
}
.right-content .side-bar .dropdown{
	width: 135px;
	outline: none;
	border: 1px solid #ccc;
	background: white;
	border-radius: 3px;
	color: #484848;
	cursor: pointer;
	line-height: 23px;
	padding-left: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: top;
	margin-top: 0px;
}
.dropdown-menu .chevron{
	margin-left: -20px;
}
.button-group{
	margin-left: 20px;
}
.button-group > *{
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: -4px;
	width: 32px;
	text-align: center;
	display: inline-block;
	height: 25px;
	cursor: pointer;
	line-height: 24px;
	border-right-width: 0px;
}
.button-group > *:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.button-group > *:last-child{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right-width: 1px;
}
.user-detail{
	position: absolute;
	width: 350px;
	height: 115px;
	background: white;
	border: 1px solid #CCC;
	bottom: 30px;
	z-index: 10;
	cursor: auto;
}
.user-detail .top-part{
	height: 70px;
	border-bottom: 1px solid #CCC;
}
.small-avatar{
	width: 70px;
	height: 70px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	border-right: 1px solid #CCC;
}
.user-detail .user-detail-meta{
	width: 265px;
	display: inline-block;
	padding-left: 7px;
	vertical-align: top;
	font-family: 'Roboto L';
	color: #555;
}
.user-detail .user-detail-meta > a{
	text-decoration: none;
}
.user-detail .user-detail-meta > a .username{
	font-weight: normal;
	color: #333;
	padding: 9px 0px 3px;
	font-size: 17px;
	margin: 0px;
}
.user-detail .user-detail-meta > a .username:hover{
	color: #4cd37b;
}
.user-detail .short-desc{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #777;
}
.user-detail .profile-1{
	display: inline-block;
	width: 27%;
	margin-right: -4px;
	vertical-align: top;
	height: 44px;
	text-align: center;
	border-right: 1px solid #CCC;
	cursor: pointer;
}
.user-detail .profile-1:first-child{
	width: 70px;
}
.user-detail .profile-1:last-child{
	border-width: 0px;
}
.user-detail .profile-1 span{
	color: #444;
	padding-top: 6px;
	display: inline-block;
}
.user-detail .profile-1:hover span{
	color: #4cd37b;
}
.user-detail .profile-1 div{
	color: #666;
	font-size: 11px;
}
.user-detail .follow-btn{
	font-size: 11px;
	border: 1px solid #CCC;
	padding: 3px 5px;
	display: inline-block;
	margin-top: 10px;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,#fafafa,#f3f3f3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#f3f3f3));
	background-image: -webkit-linear-gradient(top,#fafafa,#f3f3f3);
	background-image: -o-linear-gradient(top,#fafafa,#f3f3f3);
	background-image: linear-gradient(to bottom,#fafafa,#f3f3f3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff3f3f3', GradientType=0);
	cursor: pointer;
}
.user-detail .bottom-part{
	background-color: #f2f2f2;
}


/* idea */
.featured{
	width: 978px;
	border: 1px solid #CCC;
	margin-top: 32px;
}
.featured a{
	text-decoration: none;
}
.half{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	overflow: auto;
}
.third{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-right: 3%;
}
.featured .half > img{
	max-width: 100%;
	float: left;
}
.featured .featured-content{
	width: 95%;
	float: right;
}
.idea .article-title{
	margin-bottom: 5px;
}
.idea .author{
	margin: 0px;
}
.idea-wraper{
	width: 978px;
	border-bottom: 1px dotted #CCC;
	padding-bottom: 16px;
}
.idea-wraper > a{
	text-decoration: none;
}
.idea-wraper .idea-images-wrapper{
	margin-top: 12px;
}
.idea-wraper .idea-images-wrapper .third{
	height: 312px;
	width: 314px;
	border: 1px solid #CCC;
	margin-right: 8px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.idea-wraper .idea-images-wrapper .third:last-child{
	margin-right: 0px;
}
.idea-wraper .author, .idea-wraper .date{
	display: inline-block;
	vertical-align: middle;
}
.article-wrapper{
	width: 850px;
	display: inline-block;
}
.article-wrapper .article-detail-image{
	max-width: 850px;
	display: block;
	margin: 7px auto;
}
.article-wrapper .article-detail-desc{
	margin-bottom: 12px;
	display: block;
}
.fb-comments{
	padding-top: 32px;
}
.sharing-bar > * {
	color: #666;
	background: #fafafa;
	border: 1px solid #d6d6d6;
	text-decoration: none;
}


/* relate block */
.relate{
	display: inline-block;
	width: 200px;
	vertical-align: top;
}
.relate > a{
	text-decoration: none;
	display: block;
	padding-top: 7px;
	color: #3d8901;
	margin: auto;
	font-size: 13px;
}
.relate > a:hover{
	color: #333;
}
.relate-bg{
	height: 200px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
/* latest */
.latest-idea-item{
	width: 305px;
	height: 110px;
	border: 1px solid #CCC;
	margin: 7px 0px;
	display: block;
}
.latest-idea-item .latest-idea-item-bg{
	width: 110px;
	height: 110px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}
.latest-idea-item >a{
	text-decoration: none;
	display: inline-block;
	width: 180px;
	padding-left: 7px;
	padding-top: 7px;
	font-weight: bold;
	color: #3d8901;
}
.latest-idea-item >a:hover{
	color: #333;
}
.right-detail-column{
	width: 310px;
	padding-top: 45px;
	display: inline-block;
	vertical-align: top;
	padding-left: 34px;
}
.r-block{
	margin-bottom: 24px;
}
.r-block .article-item{
	margin-bottom: 5px;
}


/* stream */
.stream-view{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 25;
	background: rgba(0,0,0,0.85);
}
.stream-image-wrapper{
	position: absolute;
	top: 25px;
	bottom: 25px;
	left: 25px;
	width: 800px;
	
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

}
.stream-image-wrapper .stream-image{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}
