<?php 
	$images = $this->images;
	$total = $this->total;
?>
<div class="wrapper">
	<div class="left-menu">
		<div class="block">
			<div class="block-header">Đang xem</div>
			<div class="block-content"></div>
		</div>
		<div class="block">
			<div class="block-header">Phòng</div>
			<div class="block-content"></div>
		</div>
	</div>
	<div class="right-content">
		<div class="list-meta-bar">
			<h1 class="big-title">Có <?php echo $total; ?> thiết kế</h1>
			<div class="side-bar">
				<span class="dropdown-menu">
					<select class="dropdown" id="sortByFilter" onchange="window.location.href=this.options[this.selectedIndex].value">
						<option value="http://www.houzz.com/photos/popular-today/eclectic" selected="">Quan tâm nhất</option>
						<option value="http://www.houzz.com/photos/featured-new/eclectic">Mới nhất</option>	
					</select>
					<img class="chevron" src="public/images/down_chevron.png" />
				</span>
				<span class="button-group">
					<span onclick="Utils.setView('s')">S</span>
					<span onclick="Utils.setView('m')">M</span>
					<span onclick="Utils.setView('l')">L</span>
					<span onclick="Utils.setView('xl')">XL</span>
				</span>
			</div>
		</div>
		<div class="image-list" id="imageListUI">
			<?php for($i=0; $i < count($images); $i++) {?>
				<div onclick="Utils.openDetail(<?php $images[$i]->id; ?>)" class="image-wrapper" >
					<div class="image-container" style="background-image: url('<?php echo $images[$i]->link; ?>')"></div>
					<div class="meta-tag">
						<div class="meta-wrapper">
							<div class="logo" style="background-image: url(<?php echo $images[$i]->avatar; ?>)"></div>
							<div class="meta-infomation">
								<h2 class="title"><?php echo $images[$i]->title; ?></h2>
								<h4 class="designer" onclick="Utils.showUserPreview(<?php echo $images[$i]->userid; ?>, $(this), arguments[0])">
									<?php echo $images[$i]->displayname; ?>
								</h4>
							</div>
						</div>
						<div class="big-meta">
							<h2 class="title titlexl"><?php echo $images[$i]->title; ?></h2>
							<a class="comments" href="">22 bình luận</a>
							<span class="description">Phòng khách sáng sử dụng đèn trần chiếu từ trên xuống, nội thất bằng gỗ công nghiệp cho giá thành không quá cao mà vẫn đảm bảo độ bền và sang trọng.</span>
						</div>
						<div class="share-bar">
							<a class="share-btn">
								<div class="item fb"></div>
							</a>
							<a class="share-btn">
								<div class="item tw"></div>
							</a>
							<a class="share-btn">
								<div class="item gplus"></div>
							</a>
							<a class="share-btn">
								<div class="item link"></div>
							</a>
							<a class="share-btn" style="width: 80px;">
								<div class="item embed"></div>
								<span>Embed</span>
							</a>
							<a class="share-btn" style="width: 80px;">
								<div class="item email"></div>
								<span>Email</span>
							</a>
							<a class="share-btn" style="width: 100px;">
								<div class="item question"></div>
								<span>Question</span>
							</a>
						</div>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
</div>
<script>
	var designs = <?php echo json_encode($images); ?>
</script>
<script id="userDetailTemplate">
	<div class="user-detail" id="userDetailPopup">
		<div class="top-part">
			<div class="small-avatar" style="background-image: url(http://joondesigner.com/wp-content/uploads/2012/05/dung-joon.jpg)"></div>
			<div class="user-detail-meta">
				<a href="#"><h2 class="username">Joon Designer</h2></a>
				<div class="short-desc">Thiết kế chuyên nghiệp, Tầng 6, Toà nhà Hàn Việt,HBT,HN</div>
			</div>
		</div>
		<div class="bottom-part">
			<div class="profile-1">
				<div class="follow-btn">Theo dõi</div>
			</div>
			<div class="profile-1">
				<span>32</span>
				<div>Theo dõi</div>
			</div>
			<div class="profile-1">
				<span>20</span>
				<div>Thiết kế</div>
			</div>
			<div class="profile-1">
				<span>32</span>
				<div>Bình luận</div>
			</div>
		</div>
	</div>
</script>