<?php
	$article = $this->article;
	$related = $this->related;
	$latest = $this->latest;
?>

<div class="wrapper">
	<div class="article-wrapper">
		<h1 class="article-title detail"><?php echo $article->name; ?></h1>
		
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-52f207651ec44d6d"></script>
		<!-- AddThis Button END -->
		<h3 class='sub-title detail'><?php echo $article->description; ?></h3>
		<span>
			<?php echo $article->content; ?>
		</span>
		<?php for($i=0;$i<count($article->images); $i++){ ?>
			<img class="article-detail-image" src="<?php echo $article->images[$i]->image_link; ?>" />
			<span class="article-detail-desc"><?php echo $article->images[$i]->image_desc; ?></span>
		<?php } ?>
		<div class="related-block">
			<div class="article-title">Bạn sẽ quan tâm</div>
			<?php for($i=0; $i < count($related); $i++){ ?>
				<div class="relate">
					<div class="relate-bg" style="background-image: url(<?php echo $related[$i]->image_link; ?>)"></div>
					<a href="idea/detail/id/<?php echo $related[$i]->id; ?>">
						<?php echo $related[$i]->name; ?>
					</a>
				</div>
			<?php } ?>
		</div>
		<div class="fb-comments" data-href="<?php $this->userAgent()->getServerValue('request_uri'); ?>" data-width="850" data-numposts="12" data-colorscheme="light"></div>
	</div>
	<div class="right-detail-column">
		<div class="ads-block r-block">
			<img width=320 src="http://m.f6.img.vnexpress.net/2014/02/06/AppleSamsungRuling-610x426-4886-1391659658_280x210.jpg" />
		</div>
		
		<div class="latest-block r-block">
			<div class="article-title">Ý tưởng mới</div>
			<?php for($i=0;$i<count($latest);$i++){ ?>
				<div class="latest-idea-item">
					<div class="latest-idea-item-bg" style="background-image: url(<?php echo $latest[$i]->image_link; ?>)"></div>
					<a href="idea/detail/id/<?php echo $latest[$i]->id; ?>">
						<?php echo $latest[$i]->name; ?>
					</a>
				</div>
			<?php } ?>
		</div>
	</div>
</div>
