<?php
	$idea = $this->articles;
?>
<script>
	var designs = <?php json_encode($idea)?>;
</script>
<div class="wrapper">
	<div class="left-menu conditional-fixed" ftop="65">
		<div class="block">
			<div class="block-header">Ý tưởng</div>
			<div class="block-content">
				<ul>
					<li>Tất cả</li>
					<li>Nhà nhỏ</li>
					<li>Nhà trung bình</li>
					<li>Nhà lớn</li>
					<li>Kiểu cổ</li>
					<li>Hiện đại</li>
				</ul>
			</div>
		</div>
		<div class="block">
			<div class="block-header">Phòng</div>
			<div class="block-content"></div>
		</div>
	</div>
	<div class="right-content idea">
		<h1 class="big-title">Mới nhất</h1>
		<div class="featured">
			<div class="half">
				<a href="idea/detail/id/<?php echo $idea[0]->id; ?>" >
					<img style="max-width:100%" src="<?php echo $idea[0]->images[0]->image_link; ?>" />
				</a>
			</div>
			<div class="half">
				<div class="featured-content">
					<a href="idea/detail/id/<?php echo $idea[0]->id; ?>" >
						<h1 class="article-title"><?php echo $idea[0]->name; ?></h1>
					</a>
					<h2 class="author">Bùi Thanh Liêm</h2>
					<div class="date">
						<span class="date-time"><?php echo $idea[0]->since; ?></span>
						<div class="btn comment"></div>
						<span>2</span>
					</div>
					<div class="short-content">
						<?php echo $idea[0]->content; ?>
					</div>
				</div>
			</div>
		</div>
		<?php for($i=1;$i<count($idea);$i++){ ?>
		<div class="idea-wraper">
			<a href="idea/detail/id/<?php echo $idea[$i]->id; ?>" >
				<h1 class="article-title"><?php echo $idea[$i]->name; ?></h1>
			</a>
			<!-- <h3 class="sub-title"><?php echo $idea[$i]->description; ?></h3> -->
			<div class="idea-images-wrapper">
				<?php for($j=0; $j<3; $j++){ ?>
					<div class="third" style="background-image: url('<?php echo $idea[$i]->images[$j]->image_link; ?>')"></div>	
				<?php } ?>
			</div>
			<div style="padding-top: 3px;">
				<h2 class="author" style="padding-right: 12px;">Bùi Thanh Liêm</h2>
				<div class="date">
					<span class="date-time">17/01/2014</span>
					<div class="btn comment"></div>
					<span>2</span>
				</div>
			</div>
			<div>
				<?php
					$tmp = explode(" ", $idea[$i]->content);
					$tmp = array_slice($tmp, 0, 70);
					$tmp = implode(" ", $tmp);
					echo $tmp;
				?>...
			</div>
		</div>
		<?php } ?>
	</div>
</div>

