<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# terra_book: http://ogp.me/ns/fb/terra_book#">
	<meta property="fb:app_id" content="487193167988830" />
	<meta property="og:type" content="terra_book:app" />
	<meta property="og:url" content="<?php echo $this->object_url ?>" />
	<meta property="og:title" content="<?php echo $this->object_title ?>" />
	<meta property="og:image" content="<?php echo $this->object_image ?>" />
</head>