<?php
	$article = $this->article;
	$images = $this->images;
?>
<script src="public/js/library/ckeditor/adapters/jquery.js"></script>
<div class="article-wrapper">
	<div class="btn-bar">
		<div class="title"></div>
		<div class="button-group">
			<div onclick="Article.publish()">Đăng bài</div>
			<div>Quay lại</div>
		</div>
	</div>
	<div class="right-content">
		<input id="title" class="fulledit titleedit" value="<?php echo $article->name; ?>" type="text" placeholder="Tiêu đề bài"/>
		<input id="short-content" class="fulledit" value="<?php echo $article->description; ?>" type="text" placeholder="Tóm tắt ngắn khoảng 75 chữ"/>
		<div id="editable" class="article-edit-zone" contenteditable="true" >
			 <?php echo $article->content; ?>
		</div>
		<div id="featuredZone">
			<?php for($i=0;$i<count($images);$i++){ ?>
				<div id="featuredImage<?php echo $i?>" class="featured-image">
					<img src="<?php echo $images[$i]->image_link; ?>" onclick="Article.edit(0)"/>
					<div class="article-edit-zone small" contenteditable="true" >
						<?php echo $images[$i]->image_desc; ?>
					</div>
					<div>Hủy</div>
				</div>	
			<?php } ?>
		</div>
		<div class="bottom-bar">
			<div class="flat green" onclick="Article.addImage()">Thêm ảnh</div>
		</div>
	</div>
</div>

<script id="imageChooser">
	<div id="imageLoader" class="image-loader" onclick="ImageChooser.close()">
		<div class="image-wrapper" onclick="arguments[0].stopPropagation()">
			<div class="title">Image Manager</div>
			<div class="image-upload-control-bar">
				<div class="upload-button">
					<div id="uploader"></div>
					<span>Upload</span>
				</div>
				<div class="upload-button">Images</div>
			</div>
			<div id="imageContainer" class="image-container">
				
			</div>
			<div class="bottom-bar">
				<div class="flat green" onclick="ImageChooser.done()">Chọn ảnh này</div>
			</div>
		</div>
	</div>
</script>