<?php
	$article = $this->articles;
?>
<div class="article-wrapper">
	<div class="article-list">
		<?php for($i=0;$i<count($article);$i++){ ?>
		<div class="article-item">
		<?php if($article[$i]->images[0]){ ?>
			<img class="article-list-thumb" src="<?php echo $article[$i]->images[0]->image_link; ?>" />
		<?php } else { ?>
			<img class="article-list-thumb" src="public/images/default-admin.png" />
		<?php } ?>
		<a href="admin/article/id/<?php echo $article[$i]->id; ?>"><?php echo $article[$i]->name; ?></a>
		</div>
		<?php } ?>
	</div>
</div>

