<?php
	$projects = $this->allproject;
?>
<div class="content">
	<button onclick="add()">Add</button>
	<div class="filter">
		<div class="filter-label">Filter: </div>
		<div onclick="filter(0)">All</div>
		<div onclick="filter(2)">Android</div>
		<div onclick="filter(4)">Webapp</div>
		<div onclick="filter(3)">iOS</div>
		<div onclick="filter(1)">Website</div>
		<div onclick="filter(5)">Banner</div>
	</div>
	<div class="list-wrapper">
		<?php for($i=0;$i<count($projects);$i++){ ?>
			<div class="project-wrapper" onclick="editProject(<?php echo $projects[$i]->id ?>)">
				<input id="sort<?php echo $projects[$i]->id ?>" type="text" value="<?php echo $projects[$i]->sortidx ?>" />
				<?php echo $projects[$i]->name ?>
			</div>
		<?php } ?>
	</div>
	<div class="detail-wrapper">
		<input type="text" id="projectName" placeholder="Project Name" />
		<input type="text" id="projectLink" placeholder="Project Link" />
		<div class="uploader" id="uploader" ></div>
		<select id="projectType">
			<option value="1">Website</option>
			<option value="2">Android</option>
			<option value="3">iOS</option>
			<option value="4">Webapp</option>
			<option value="5">Banner</option>
		</select>
		<input type="text" id="screenshot" placeholder="screenshot" />
		<textarea type="text" id="description" placeholder="description"></textarea>
		<input type="text" id="tech" placeholder="technical" />
		<input type="text" id="platformtech" placeholder="platformtech" />
		<input type="text" id="industry" placeholder="industry" />
		<button onclick="save()">Save</button>
	</div>
</div>

<script>
	var projects = <?php echo json_encode($projects); ?>;
	var editingId = -1;
	
	$(document).ready(function(){
		initUploader();
	})
	
	function initUploader(){
		this.uploader = new qq.FileUploader({
			element : document.getElementById('uploader'),
			action : "service/upload/image",
			debug : true
		});
	}
	
	function editProject(id){
		var project;
		for(var i=0; i < projects.length; i++){
			if(projects[i].id == id){
				project = projects[i];
				editingId = project.id;
				break;
			}
		}
		if(project){
			$('#projectName').val(project.name);
			$('#projectLink').val(project.link);
			$('#projectType').val(project.type);
			$('#tech').val(project.tech);
			$('#description').val(project.description);
			$('#screenshot').val(project.img);
			$('#industry').val(project.industry);
			$('#platformtech').val(project.platformtech);
		}
	}
	function save(){
		var data = {
			id: editingId,
			name: $('#projectName').val(),
			link: $('#projectLink').val(),
			type: $('#projectType').val(),
			tech: $('#tech').val(),
			description: $('#description').val(),
			img: $('#screenshot').val(),
			industry: $('#industry').val(),
			platformtech: $('#platformtech').val(),
			sortidx: $('#sort' + editingId).val()
		}
		$.ajax({
			url: 'service/demo/save',
			data: data,
			success: function(){
				alert('Lưu được rồi nhé, xong rồi đấy! Hề hề!!');
			}
		})
	}
	
	function add(){
		$('#projectName').val('');
		$('#projectLink').val('');
		$('#projectType').val('');
		$('#tech').val('');
		$('#description').val('');
		$('#screenshot').val('');
		$('#industry').val('');
		$('#platformtech').val('');
		editingId = -1;
	}
	
	function filter(id){
		top.location.href = './service/admin/index/filter/' + id;
	}
	
	function uploadImageSuccess(data){
		$('#screenshot').val(data.link);
	}
	
	function uploadImageError(){
		console.log('ERROR');
	}
</script>