<div class="main-menu">
	<div class="logo"></div>
</div>
<div class="login-wrapper">
	<div class="wrapper">
		<div class="login-text">
			<span>Hãy bắt đầu xây dựng...</span><br>
			<span>ngôi nhà trong mơ của bạn. Ngay bây giờ!</span>
		</div>
		<div class="login-container">
			<div class="login-facebook">
				Đăng nhập Facebook
			</div>
		</div>
	</div>
</div>
